.defaultRenderText {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    opacity: 0.2;
    color: #fff;
    box-shadow: 0 0 5px #fff;
    z-index: 3; 
  }
}